:root {
  --color-background: #1a1a1a; 
  --color-sidebar: #0d0d0d; 
  --color-primary: #00e6e6;      
  --color-text: #ffffff;        
  --color-text-muted: #b3b3b3; 
  --color-border: #333333;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: var(--color-background)
  }
  

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    background-color: var(--color-sidebar);
    padding: 20px 0;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .menu-item {
    color: var(--color-text);
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    transition: color 0.3s;
  }
  
  .menu-item:hover,
  .menu-item.active {
    color: var(--color-primary);
  }
  
  .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #00e6e6;
  }
  