/* Modal Background */
.preview-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.preview-content {
    background: #333;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 700px;
    width: 90%;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: white;
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.close-btn:hover {
    background-color: lightgray;
  }

/* Image */
.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    width: 34rem;
    height: 16rem;
    margin: 0 auto 1rem;
    border-radius: 5px;
    background-color: #222;
}

/* Image Styling */
.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Description Text */
#previewDescription {
    margin: 2rem 0;
    font-size: 1.3rem;
    color: #ddd;
    display: flex;
    justify-content: center;
}


.buttons-container {
    display: flex;
    justify-content: center;
    gap: 5%;
}