/* Modal Background */
.preview-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

/* Modal Content */
.preview-content {
    background: #333;
    border-radius: 1rem;
}

#previewDescription p {
    font-size: 1.5rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.img-fluid {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-width: 60vw;
    aspect-ratio: 16 / 9;
    opacity: 0.5;
    object-fit: cover;
}