<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domača stran</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-xl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-m.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-progress.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preview.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script>
        const indexUrl = "{{ url_for('index') }}";
        const staticImagesUrl = "{{ url_for('static', filename='images/') }}";
    </script>
</head>

<body>
    <div class="d-flex flex-row">

        <!-- Sidebar -->
        <div class="sidebar position-fixed p-5 top-0 start-0 vh-100 d-flex flex-column">
            <div class="d-flex flex-column align-items-center gap-4">
                <a href="{{ url_for('index') }}" class="menu-item active"><img src="{{ url_for('static', filename='icons/home.svg') }}" alt=""></a>
                <a href="{{ url_for('recents') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/clock.svg') }}" alt=""></a>
                <a href="{{ url_for('favourites') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/star.svg') }}" alt=""></a>
            </div>
            <div class="profile mt-auto">
                <a href={{ url_for('landing') }}><img id="profileImage" src="{{ url_for('static', filename='images/user_profile.png') }}" alt="User Profile"></a>
            </div>
        </div>

        <!-- Content -->
        <div class="content flex-fill p-5">
            <div class="row mb-5">
                <h1 class="fw-bold" id="username"></h1>
            </div>
            <!-- V zivo -->
            <div class="row my-5">
                <h3 class="fw-bold text-white"> Glej v živo <i class="fa-solid fa-tv"></i></h3>
            </div>
            <div class="row mb-5 row1">
                <div class="d-flex flex-row gap-5">
                    <div class="card card-xl" onclick="openPreview('TV Slovenija 1', '{{ url_for('static', filename='images/channel1.webp') }}', 'Glej v živo', true, 'Razvedrilna oddaja', 'TV Slovenija 1', 'Slovenski pozdrav', '/')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/channel1.webp') }}" alt="Image 1">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="channel-name fw-bold text-white">Slovenski pozdrav</h3>
                                    <span class="channel-name fw-bold text-white">TV Slovenija 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-xl" onclick="openPreview('TV Slovenija 2', '{{ url_for('static', filename='images/skoki.jpg') }}', 'Glej v živo', true, 'Šport - smučarski skoki', 'TV Slovenija 2', 'Novoletna turneja', '/')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/skoki.jpg') }}" alt="Image 3">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="channel-name fw-bold text-white">Smučarski skoki (M) - Novoletna turneja</h3>
                                    <span class="channel-name fw-bold text-white">TV Slovenija 2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-xl" onclick="openPreview('POP TV', '{{ url_for('static', filename='images/channel2.webp') }}', 'Glej v živo', true, 'Informativna oddaja', 'POP TV', '24UR', '/')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/channel2.webp') }}" alt="Image 2">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="channel-name fw-bold text-white">24 UR</h3>
                                    <span class="channel-name fw-bold text-white">POP TV</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-xl" onclick="openPreview('Kanal A', '{{ url_for('static', filename='images/motogp.jpg') }}', 'Glej v živo', true, 'Šport - dirkanje', 'Kanal A', 'MotoGP - Velika nagrada Berna', '/')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/motogp.jpg') }}" alt="Image 2">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="channel-name fw-bold text-white">MotoGP - Velika nagrada Berna</h3>
                                    <span class="channel-name fw-bold text-white">Kanal A</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-xl" onclick="openPreview('Planet TV', '{{ url_for('static', filename='images/mojdragi.jpg') }}', 'Glej v živo', true, 'Razvedrilna oddaja', 'Planet TV', 'Moj dragi zmore', '/')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/mojdragi.jpg') }}" alt="Image 2">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="channel-name fw-bold text-white">Moj dragi zmore</h3>
                                    <span class="channel-name fw-bold text-white">Planet TV</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!--Priporocila -->
            <div class="row my-5">
                <h3 class="fw-bold text-white"> Izbor zate <i class="fa-solid fa-hand-point-down"></i></h3>
            </div>
            <div class="row mb-5 row2">
                <div class="d-flex flex-row gap-5">
                    <div class="card card-m" onclick="openPreview('Sam doma', '{{ url_for('static', filename='images/sam-doma.jpeg') }}', 'Predvajaj', false, 'Božična komedija', 'POP TV', 'Film, 210 min', 'Macaulay Culkin, Joe Pesci, Daniel Stern')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/sam-doma.jpeg') }}" alt="Image 1">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="channel-name fw-bold text-white">Sam doma</h3>
                                    <span class="fw-bold text-white mt-1">POP TV</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-m" onclick="openPreview('Črni seznam', '{{ url_for('static', filename='images/blacklist.jpg') }}', 'Predvajaj', false, 'Kriminalistična nadaljevanka', 'Kanal A', '11 sezon', 'James Spader, Megan Boone')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/blacklist.jpg') }}" alt="Image 2">
                            <div class="card-overlay p-4">
                                <h3 class="channel-name fw-bold text-white">Črni seznam</h3>
                                <span class="fw-bold text-white mt-1">Kanal A</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card-m" onclick="openPreview('Kriva pota', '{{ url_for('static', filename='images/breaking-bad.jpg') }}', 'Predvajaj', false, 'Drama', 'Netflix', '5 sezon', 'Bryan Cranston, Aaron Paul')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/breaking-bad.jpg') }}" alt="Image 3">
                            <div class="card-overlay p-4">
                                <h3 class="channel-name fw-bold text-white">Kriva pota</h3>
                                <span class="fw-bold text-white mt-1">Netflix</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card-m" onclick="openPreview('Naša mala klinika', '{{ url_for('static', filename='images/nmk.jpg') }}', 'Predvajaj', false, 'Humoristična nadaljevanka', 'Voyo', '7 sezon', 'Tanja Ribić, Jernej Šugman, Bojan Emeršič, Janez Hočevar')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/nmk.jpg') }}" alt="Image 4">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="channel-name fw-bold text-white">Naša mala klinika</h3>
                                    <span class="fw-bold text-white mt-1">Voyo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-m" onclick="openPreview('Pobeg iz zapora', '{{ url_for('static', filename='images/prison-break.jpg') }}', 'Predvajaj', false, 'Drama', 'Netflix', '6 sezon', 'Wentworth Miller, Dominic Purcell')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/prison-break.jpg') }}" alt="Image 5">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="channel-name fw-bold text-white">Pobeg iz zapora</h3>
                                    <span class="fw-bold text-white mt-1">Netflix</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!-- Nadljuj z ogledom -->
            <div class="row my-5">
                <h3 class="fw-bold text-white"> Nadaljuj z ogledom <i class="fa-solid fa-forward"></i></h3>
            </div>
            <div class="row mb-5 row3">
                <div class="d-flex flex-row gap-5">
                    <div class="card card-m" onclick="openPreview('Igra Prestolov: S1 E9', '{{ url_for('static', filename='images/progress1.webp') }}', 'Nadaljuj z ogledom', true, 'Drama', 'HBO', '8 sezon, S1 E9.', 'Emilia Clarke, Kit Harington, Peter Dinklage, Lena Headey')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/progress1.webp') }}" alt="Image 1">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="fw-bold text-white">Igra Prestolov: S1 E9</h3>
                                    <span class="fw-bold text-white mt-2">HBO</span>
                                    <div class="progress mt-2">
                                        <div class="progress-bar" style="width: 60%;" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-m" onclick="openPreview('Dnevnik: 29. 11. 2024', '{{ url_for('static', filename='images/progress2.jpg') }}', 'Nadaljuj z ogledom', true, 'Informativna oddaja', 'TV Slovenija 1', 'Dnevnik TV SLO - Informativna oddaja ob 19ih.', '/')">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/progress2.jpg') }}" alt="Image 2">
                        <div class="card-overlay p-4">
                            <div class="card-content">
                                <h3 class="fw-bold text-white">Dnevnik: 29. 11. 2024</h3>
                                <span class="fw-bold text-white mt-2">TV Slovenija 1</span>
                                <div class="progress mt-2">
                                    <div class="progress-bar" style="width: 75%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="card card-m" onclick="openPreview('Barcelona vs. Real Madrid', '{{ url_for('static', filename='images/progress3.jpeg') }}', 'Nadaljuj z ogledom', true, 'Šport - nogomet', 'Šport TV', 'LaLiga - 16. krog - Barcelona vs Real Madrid.', '/')">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/progress3.jpeg') }}" alt="Image 3">
                        <div class="card-overlay p-4">
                            <div class="card-content">
                                <h3 class="fw-bold text-white">Barcelona vs. Real Madrid</h3>
                                <span class="fw-bold text-white mt-2">Šport TV</span>
                                <div class="progress mt-2">
                                    <div class="progress-bar" style="width: 20%;" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="card card-m" onclick="openPreview('Lilly Phillips: Všeč mi je bilo', '{{ url_for('static', filename='images/progress4.jpeg') }}', 'Nadaljuj z ogledom', true, 'Dokumentarni film', 'TLC', 'Dokumentarni film o zvezdnici vsebin za odrasle - Lilly Phillips, 75 minut.', 'Lilly Phillips')">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/progress4.jpeg') }}" alt="Image 4">
                        <div class="card-overlay p-4">
                            <div class="card-content">
                                <h3 class="fw-bold text-white">Lilly Phillips: Všeč mi je bilo</h3>
                                <span class="fw-bold text-white mt-2">TLC</span>
                                <div class="progress mt-2">
                                    <div class="progress-bar" style="width: 90%;" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>            
            <!-- Moj izbor -->
             <div class="row my-5">
                <h3 class="fw-bold text-white"> Moj sezam za ogled <i class="fa-solid fa-list-check"></i></h3>
            </div>
            <div class="row mb-5 row4">
                <div class="d-flex flex-row gap-5">
                    <div class="card card-m" onclick="openPreview('Veliki Pokovci', '{{ url_for('static', filename='images/bigbang.jpg') }}', 'Predvajaj', true, 'Humoristična nadaljevanka', 'HBO', '12 sezon', 'Johnny Galecki, Jim Parsons, Kaley Cuoco')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/bigbang.jpg') }}" alt="Image 1">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="fw-bold text-white">Veliki pokovci</h3>
                                    <span class="fw-bold text-white mt-2">HBO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-m" onclick="openPreview('Kako sem spoznal tvojo mamo', '{{ url_for('static', filename='images/tvojamami.jpg') }}', 'Predvajaj', true, 'Humoristična nadaljevanka', 'Disney+', '9 sezon', 'Josh Radnor, Jason Segel, Cobie Smulders')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/tvojamami.jpg') }}" alt="Image 2">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="fw-bold text-white">Kako sem spoznal tvojo mamo</h3>
                                    <span class="fw-bold text-white mt-2">Disney+</span>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="card card-m" onclick="openPreview('Zodiac', '{{ url_for('static', filename='images/zodiac.jpeg') }}', 'Predvajaj', true, 'Shrljiv film', 'Netflix', '2 uri in 37 minut', 'Jake Gyllenhaal, Robert Downey Jr., Mark Ruffalo')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/zodiac.jpeg') }}" alt="Image 2">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="fw-bold text-white">Zodiac</h3>
                                    <span class="fw-bold text-white mt-2">Netflix</span>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="card card-m" onclick="openPreview('Prijatelji', '{{ url_for('static', filename='images/friends.jpg') }}', 'Predvajaj', true, 'Humoristična nadaljevanka', 'HBO', '10 sezon', 'Jennifer Aniston, Courteney Cox, Lisa Kudrow')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/friends.jpg') }}" alt="Image 3">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="fw-bold text-white">Prijatelji</h3>
                                    <span class="fw-bold text-white mt-2">HBO</span>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="card card-m" onclick="openPreview('Skrito v raju', '{{ url_for('static', filename='images/skrito-v-raju.jpg') }}', 'Predvajaj', true, 'Romantična drama', 'Voyo', '1 sezona', 'Matej Zemljič, Gaja Filač, Gaber K. Trseglav')">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/skrito-v-raju.jpg') }}" alt="Image 4">
                            <div class="card-overlay p-4">
                                <div class="card-content">
                                    <h3 class="fw-bold text-white">Skrito v raju</h3>
                                    <span class="fw-bold text-white mt-2">Voyo</span>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <!-- Modal for Preview -->
    <div id="previewModal" class="preview-modal">
        <div class="preview-content">
            <!-- Round Close Button -->
            <button class="close-btn" onclick="closePreview()">×</button>
    
            <!-- Title -->
            <h2 id="previewTitle" class="text-white"></h2>
    
            <!-- Image -->
            <div class="preview-image">
                <img src="{{ url_for('static', filename='images/channel1.webp') }}" alt="Preview Image">
            </div>
    
            <div id="previewDescription" class="preview-details text-white">
                <p><strong>Žanr:</strong> <span id="previewGenre"></span></p>
                <p><strong>Info:</strong> <span id="previewInfo"></span></p>
                <p><strong>Platforma za ogled:</strong> <span id="previewStreamingPlatform"></span></p>
                <p><strong>Igralska zasedba:</strong> <span id="previewCast"></span></p>
            </div>
    
            <!-- Play Button -->
            <div class="buttons-container">
                <button class="start-over-btn primary-button"></button>
                <button class="play-btn primary-button"> Glej v živo</button>
            </div>
        </div>
    </div>
</body>

</html>