<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-xl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-m.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-progress.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preview.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
      const indexUrl = "{{ url_for('index') }}";
      const staticImagesUrl = "{{ url_for('static', filename='images/') }}";
    </script>
  </head>

  <body>
    <div class="d-flex flex-row">

      <!-- Sidebar -->
      <div class="sidebar position-fixed p-5 top-0 start-0 vh-100 d-flex flex-column">
        <div class="d-flex flex-column align-items-center gap-4">
            <a href="{{ url_for('index') }}" id="home_button" class="menu-item"><img src="{{ url_for('static', filename='icons/home.svg') }}" alt=""></a>
            <a href="{{ url_for('search') }}" id="search_button" class="menu-item"><img src="{{ url_for('static', filename='icons/search.svg') }}" alt=""></a>
            <a href="{{ url_for('movies') }}" id="movies_button" class="menu-item"><img src="{{ url_for('static', filename='icons/movies.svg') }}" alt=""></a>
            <a href="{{ url_for('shows') }}" id="shows_button" class="menu-item active"><img src="{{ url_for('static', filename='icons/tv-shows.svg') }}" alt=""></a>
            <a href="{{ url_for('favourites') }}" id="favourites_button" class="menu-item"><img src="{{ url_for('static', filename='icons/star.svg') }}" alt=""></a>
            <a href="https://www.max.com" id="hbo_button" class="menu-item"><img src="{{ url_for('static', filename='icons/hbo_icon.svg') }}" alt=""></a>
            <a href="https://www.netflix.com" id="netflix_button" class="menu-item"><img src="{{ url_for('static', filename='icons/netflix_icon.svg') }}" alt=""></a>
            <a href="https://www.disneyplus.com" id="disney_button" class="menu-item"><img src="{{ url_for('static', filename='icons/disney_logo.svg') }}" alt=""></a>
        </div>
        <div class="profile mt-auto">
            <a id="profile_button" href="{{ url_for('landing') }}"><img id="profileImage" src="{{ url_for('static', filename='images/user_profile.png') }}" alt="User Profile"></a>
        </div>
    </div>

      <!-- Content -->
      <div class="content flex-fill overflow-hidden p-5 mb-5">
        <!-- Main Title -->
        <div class="row">
          <h1 class="fw-bold">Serije</h1>
        </div>
        <!-- Izbor zate -->
        <div class="row py-4 align-items-center">
          <div class="d-flex align-items-center gap-3 text-white">
            <i class="fa-solid fa-tv"></i>
            <h3 class="fw-bold mb-0">Izbor zate</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="row1 d-flex flex-row gap-5">
            <div class="card card-xl" onclick="openPreview('Črni seznam', '{{ url_for('static', filename='images/blacklist.jpg') }}', 'Predvajaj', false, 'Kriminalistična nadaljevanka', 'Kanal A', '11 sezon', 'James Spader, Megan Boone')">
              <div class="card-image">
                  <img src="{{ url_for('static', filename='images/blacklist.jpg') }}" alt="Image 2">
                  <div class="card-overlay p-4">
                      <h3 class="fw-bold text-white">Črni seznam</h3>
                      <span class="channel-name text-white fw-bold mt-1">Kanal A</span>
                  </div>
              </div>
            </div>
            <div class="card card-xl" onclick="openPreview('Kriva pota', '{{ url_for('static', filename='images/breaking-bad.jpg') }}', 'Predvajaj', false, 'Drama', 'Netflix', '5 sezon', 'Bryan Cranston, Aaron Paul')">
              <div class="card-image">
                  <img src="{{ url_for('static', filename='images/breaking-bad.jpg') }}" alt="Image 3">
                  <div class="card-overlay p-4">
                      <h3 class="fw-bold text-white">Kriva pota</h3>
                      <span class="channel-name text-white fw-bold mt-1">Netflix</span>
                  </div>
              </div>
            </div>
            <div class="card card-xl" onclick="openPreview('Naša mala klinika', '{{ url_for('static', filename='images/nmk.jpg') }}', 'Predvajaj', false, 'Humoristična nadaljevanka', 'Voyo', '7 sezon', 'Tanja Ribić, Jernej Šugman, Bojan Emeršič, Janez Hočevar')">
              <div class="card-image">
                  <img src="{{ url_for('static', filename='images/nmk.jpg') }}" alt="Image 4">
                  <div class="card-overlay p-4">
                      <div class="card-content">
                          <h3 class="fw-bold text-white">Naša mala klinika</h3>
                          <span class="channel-name text-white fw-bold mt-1">Voyo</span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="card card-xl" onclick="openPreview('Igra lignja', '{{ url_for('static', filename='images/squidgame.jpg') }}', 'Predvajaj', false, 'Drama', 'Netflix', '2 sezoni', 'Lee Jung-jae, Park Hae-soo, Wi Ha-joon')">
              <div class="card-image">
                  <img src="{{ url_for('static', filename='images/squidgame.jpg') }}" alt="Image 5">
                  <div class="card-overlay p-4">
                      <div class="card-content">
                          <h3 class="fw-bold text-white">Igra lignja</h3>
                          <span class="channel-name text-white fw-bold mt-1">Netflix</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Trenutno najbolj gledano -->
        <div class="row py-4 align-items-center">
          <div class="d-flex align-items-center gap-3 text-white">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <h3 class="fw-bold mb-0">Trenutno najbolj gledano</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="row2 d-flex flex-row gap-5">
            <div class="card card-m" onclick="openPreview('Veliki Pokovci', '{{ url_for('static', filename='images/bigbang.jpg') }}', 'Predvajaj', false, 'Humoristična nadaljevanka', 'HBO', '12 sezon', 'Johnny Galecki, Jim Parsons, Kaley Cuoco')">
              <div class="card-image">
                  <img src="{{ url_for('static', filename='images/bigbang.jpg') }}" alt="Image 1">
                  <div class="card-overlay p-4">
                      <div class="card-content">
                          <h3 class="fw-bold text-white">Veliki pokovci</h3>
                          <span class="channel-name text-white fw-bold mt-1">HBO</span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="card card-m" onclick="openPreview('Kako sem spoznal tvojo mamo', '{{ url_for('static', filename='images/tvojamami.jpg') }}', 'Predvajaj', false, 'Humoristična nadaljevanka', 'Disney+', '9 sezon', 'Josh Radnor, Jason Segel, Cobie Smulders')">
              <div class="card-image">
                  <img src="{{ url_for('static', filename='images/tvojamami.jpg') }}" alt="Image 2">
                  <div class="card-overlay p-4">
                      <div class="card-content">
                          <h3 class="fw-bold text-white">Kako sem spoznal tvojo mamo</h3>
                          <span class="channel-name text-white fw-bold mt-1">Disney+</span>
                      </div>                        
                  </div>
              </div>
            </div>
            <div class="card card-m" onclick="openPreview('Prijatelji', '{{ url_for('static', filename='images/friends.jpg') }}', 'Predvajaj', false, 'Humoristična nadaljevanka', 'HBO', '10 sezon', 'Jennifer Aniston, Courteney Cox, Lisa Kudrow')">
              <div class="card-image">
                  <img src="{{ url_for('static', filename='images/friends.jpg') }}" alt="Image 3">
                  <div class="card-overlay p-4">
                      <div class="card-content">
                          <h3 class="fw-bold text-white">Prijatelji</h3>
                          <span class="channel-name text-white fw-bold mt-1">HBO</span>
                      </div>                        
                  </div>
              </div>
            </div>
            <div class="card card-m" onclick="openPreview('Igra Prestolov: S1 E9', '{{ url_for('static', filename='images/progress1.webp') }}', 'Nadaljuj z ogledom', true, 'Drama', 'HBO', '8 sezon, S1 E9.', 'Emilia Clarke, Kit Harington, Peter Dinklage, Lena Headey')">
              <div class="card-image">
                  <img src="{{ url_for('static', filename='images/progress1.webp') }}" alt="Image 1">
                  <div class="card-overlay p-4">
                      <div class="card-content">
                          <h3 class="fw-bold text-white">Igra Prestolov</h3>
                          <span class="channel-name text-white fw-bold mt-1">HBO</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Kategorije -->
        <div class="row py-4 align-items-center">
          <div class="d-flex align-items-center gap-3 text-white">
            <i class="fa-solid fa-list"></i>
            <h3 class="fw-bold mb-0">Kategorije</h3>
          </div>
        </div>
        <div class="row">
          <div class="row3 d-flex flex-row">
            <table class="category-table text-white text-start">
              <tbody>
                <tr>
                  <td class="p-4">Akcija</td>
                  <td class="p-4">Komedija</td>
                  <td class="p-4">Drama</td>
                </tr>
                <tr>
                  <td class="p-4">Znanstvena fantastika</td>
                  <td class="p-4">Grozljivka</td>
                  <td class="p-4">Romantika</td>
                </tr>
                <tr>
                  <td class="p-4">Animirani</td>
                  <td class="p-4">Dokumentarni</td>
                  <td class="p-4">Triler</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for Preview -->
    <div id="previewModal" class="preview-modal">
      <div class="preview-content">
        <!-- Round Close Button -->
        <button class="close-btn" onclick="closePreview()">×</button>
        <!-- Title -->
        <h2 id="previewTitle" class="text-white mb-10"></h2>
        <!-- Image -->
        <div class="preview-image">
          <img src="{{ url_for('static', filename='images/channel1.webp') }}" alt="Preview Image">
        </div>
        <div id="previewDescription" class="preview-details text-white">
          <p><strong>Žanr:</strong> <span id="previewGenre"></span></p>
          <p><strong>Info:</strong> <span id="previewInfo"></span></p>
          <p><strong>Platforma za ogled:</strong> <span id="previewStreamingPlatform"></span></p>
          <p><strong>Igralska zasedba:</strong> <span id="previewCast"></span></p>
        </div>
        <!-- Play Button -->
        <div class="buttons-container">
          <button class="start-over-btn primary-button"></button>
          <button class="play-btn primary-button"> Glej v živo</button>
        </div>
      </div>
    </div>
  </body>
</html>